@import url(https://fonts.googleapis.com/css?family=Share:700,400,400italic|Judson:400,400italic,700);

body *:not(pre):not(code):not(.token) {
    font-family: 'Judson', serif;
}

body {
    color: #2A2D40;
}

#container {
    width: 90%;
    margin:0 auto;
    border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
}

h1, h2, h3, h4 {
    color: #456673;
}

h1 {
    font-size: 3.8vw;
    text-align: center;
}

h2 {
    font-size: 2.7vw;
}

h1, h2 {
    border-bottom: 1px solid #456673;
}

h3 {
    font-size: 2.1vw;
}

p, li {
    font-size: 2vw;
    line-height: 2.9vw;
}

li {
    margin-bottom: 5px;
}

a {
    color:#809BA6;
}

a:visited {
    color:#809BA6;
}

hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 1px solid #456673;
    margin: 1em 0;
    padding: 0;
    background: #456673;
}

pre {
    width: 75%;
    margin: 0 auto !important;
    float:none;
}

pre > code {
    font-size: 2vw;
}

:not(pre) > code {
    color: #456673;
    background: #E0EDF0;
    border: 1px solid #809BA6;
    border-radius:3px;
    padding: 1px 4px;
    margin:0 2px;
    font-size: 1.8vw;
}

.permalink {
    font-size: inherit;
    display:none;
    text-decoration: none;
}

*:hover > .permalink {
    display:inline-block;
}

.to-top {
    position: fixed;
    display:inline-block;
    overflow: hidden;

    height: 5%;
    width: 3%;
    bottom:1%;
    right:1%;

    font-size: 2em;
    text-align: center;
    text-decoration: none;

    visibility: hidden;
    background: #E0EDF0;
    border: 1px solid #809BA6;
    border-radius:3px;
}

.cd-top, .cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top, .cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
