---
permalink: /index.html
---

<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    <!--
        Hello there HTML Reader! What brings you here?
    -->
    {% include header.html %}

    <div class="content wrapper">
        <h1>Hello there!</h1>
        <p>
            My name is Christopher Pence. I go to school at UC San Diego with
            a major in Computer Science. Among my interests in CS are
            linguistics, drawing and graphic design.
        </p>
        <p>
            This academic year (2017-18), I work for the
            <a href="http://cse.ucsd.edu/">CSE Department</a>
            at UCSD, tutoring for CSE 11 (Introduction to CS &amp; OOP with
            Java). The class is accelerated in pace, but has a lot of fun
            GUI-based assignments, so I'm looking forward to it.<br>
            I was at the department last (2016-17) year to tutor CSE 30
            (Computer Organization and Systems Programming). I started tutoring
            in Fall 2016, working in <kbd>ARM</kbd> and <kbd>SPARC</kbd>
            assembly for both versions of the class.
        </p>
        <p>
            The last few summers (2016, 2017), I worked at the
            <a href="https://whizkidzcc.com/"> WhizKidz Computer Center</a> as
            an instructor in web development, game development, and introductory
            courses to programming languages like Python.
        </p>

        <h1>Cool Things</h1>
        <p>
            These are projects I am especially proud of, whether or not they may
            be finished.
        </p>
        <h2 class="project">
            <a href="https://github.com/LIT-Chorus/EventLIT">EventLIT</a>
        </h2>
        <p>
            Android app made for the CSE 110 software engineering course at
            UCSD. Provides a platform for UCSD student organizations to post
            events for students to find and RSVP to. I worked mainly on the
            back end, managing user authentication and database storage/access.
        </p>

        <h2 class="project">
            <a href="https://github.com/janus-cpu/janus-jas">jas</a>
        </h2>
        <p>
            The assembler for the Janus Instruction Set, a custom ISA developed
            with my friend @<a href="http://errs.io">errs.io</a>.
        </p>

        <h2 class="project">
            <a href="https://github.com/chewisinho/proof-builder">Proof Builder</a>
        </h2>
        <p>
            A "workbench" that facilitates writing proofs for proof-based
            classes. Won first place in the Education category at Hacktech '16.
        </p>

        <h2 class="project">
            <a href="https://github.com/pencels/roboto-or-notto">Roboto or Notto</a>
        </h2>
        <p>
          Chatbot implemented at Hacktech '17 which takes user input and tries
          to learn to speak in a more "human" way. Written using a Wolfram back
          end, and React.
        </p>

    </div>
    {% include footer.html %}
</body>
</html>
