@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic);

* {
    margin:0;
    padding:0;
    font-family:'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
p {
    color: #8FBCBB;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.nav {
    margin: 0 auto;
    padding:20px;
    list-style:none;
    background-color:#75B8B7;
}

ul.nav li {
    display:inline-block;
    text-decoration:none;
}

ul.nav li a {
    color: #fff;
    padding:20px 20px;
    text-decoration: inherit;
    position:relative;
}

ul.nav li a:hover {
    background-color:#55A5A4;
}

div.wrapper {
    padding:30px;
}

div.wrapper img {
   width:100px;
   height:auto;
}
