body {
  font-family: "Nunito", sans-serif;
}

p,
li {
  font-size: 1.2rem;
}

p:has(img),
figure:has(img) {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.byline {
  color: hsla(0, 0, 100, 0.5);

  > * {
    display: inline;
  }

  address {
    padding: 0;
    margin: 0;
  }
}

span.redacted {
  background: rgb(27, 27, 27);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: transparent;

  &:hover {
    color: rgb(226, 226, 226);
  }
}

code,
pre,
kbd {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
}

blockquote {
  border-left: 0.5rem solid hsla(0, 0, 100, 0.2);
  padding-left: 1rem;
  font-style: italic;
  color: hsla(0, 0, 100, 0.9);
}

html,
body {
  background-color: hsl(162, 10%, 7%);
  color: hsl(162, 10%, 85%);
  height: 100%;
  min-height: 100%;
}

a {
  color: hsl(162, 100%, 37%);

  &:hover {
    color: hsl(162, 100%, 40%);
  }
}

header nav {
  background: black;
}

.navbar-brand > * {
  vertical-align: middle;
}

.navbar-toggler {
  border: none;
}

footer {
  text-align: center;
  background-color: black;
  color: hsl(162, 10%, 85%);
}

code.language-plaintext {
  color: inherit;
}

pre:has(code.language-mermaid) {
  display: flex;
}

code.language-mermaid {
  margin-left: auto;
  margin-right: auto;
}

#logo-bar a {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 576px) {
  #logo-bar {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #logo-bar {
    width: auto;
  }
}
