h1, h2, h3, h4, h5, h6, p, ul, li {
  font-family: 'IBM Plex Mono', monospace;
}

html, body {
  background: rgba(1, 1, 1, 0.01);
}

header nav {
  background: black;
}

.navbar-toggler {
  border: none;
}

code {
  color: black;
  background: rgba(1, 1, 1, 0.05);
}

@media (max-width: 576px) {
  #logo-bar {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #logo-bar {
    width: auto;
  }
}
