@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,400);

body {
    font-family: 'Open Sans';
    width: 100%;
    background: black;
}

#game-canvas {
    background: #194143;
    height: 500px;
}

#title-div {
    width: 80vw;
    margin: 0 auto;
    word-wrap: break-word;
}

#title {
    font-size: 8vh;
    position: fixed;
    color: white;
    text-align: center;
    line-height: 100px;
}

#subtitle {
    font-size: 2vh;
    position: fixed;
    color: white;
    text-align: center;
    line-height: 100px;

}
