@import 'https://fonts.googleapis.com/css?family=Hammersmith+One|Paytone+One';

@media screen {
    html {
        font-family: 'Hammersmith One', sans-serif;
        background: linear-gradient(#CFC, #FFF);
    }
    
    html, body {
        margin: 0;
    }

    #container {
        margin: 0 auto;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Paytone One', sans-serif;
    }

    h1 {
        background: black;
        color: white;
        padding: 0.5em;
        margin-top: 0;
    }

    nav {
        list-style: none;
    }

    nav li {
        background: black;
    }

    nav li a {
        text-decoration: none;
        color: white;
        padding: 0.5em;
        display: block;
    }

    nav li a:hover {
        background: lightgray;
        color: black;
    }
    
    p {
        margin-left: 1em;
        margin-right: 1em;
    }

    img {
        max-width: 15em;
        display: block;
        margin: 0 auto;
        border-radius: 100%;
    }
    
    .img {
        border-radius: 100%;
        width: 15em;
        height: 15em;
        background-clip: padding-box;
        background-size: cover;
        background-position: center center;
        margin: 0 auto;
    }
    
    div#img1 {
        background-image: url('https://d13yacurqjgara.cloudfront.net/users/285647/screenshots/1420082/loading.gif');
    }
    
    div#img2 {
        background-image: url('http://33.media.tumblr.com/f678ce38eb896bc1d4aaa911958af087/tumblr_n2eccv6Dev1rgpzseo1_1280.gif');
    }
}

@media screen and (min-width: 600px) {
    
    #container {
        width: 80%;
        margin: 0 auto;
    }

    h1 {
        margin-top: 0.5em;
        display: inline-block;
    }
    
    nav li {
        display: inline-block;
    }
    
    p {
        margin-left: 0;
        margin-right: 0;
    }
}