---
layout: default
comments: true
---

{% if page.next or page.previous %}
<div class="d-flex mb-3 py-1 w-100 align-items-end adjacent-pages">
  <div class="d-flex w-50 align-items-end">
    {% if page.next %}
    <span class="me-1">«</span>
    <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    {% endif %}
  </div>
  <div class="d-flex ml-auto text-right w-50 justify-content-end align-items-end">
    {% if page.previous %}
    <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    <span class="ms-1">»</span>
    {% endif %}
  </div>
</div>
{% endif %}

<h1>{{ page.title }}</h1>

<div class="byline mb-4 d-flex flex-column flex-sm-row">
  <time pubdate datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ page.date | date: "%B %e, %Y" }}
  </time>
  <div class="tags ms-sm-auto">
    {% for tag in page.tags %}
    <a href="/posts/tagged/{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </div>
</div>

{% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
