---
layout: default
comments: true
---

<div>
  <div class="d-flex w-100 adjacent-pages mt-1">
    <h1>{{ page.title }}</h1>
    {% if page.next or page.previous %}
    <div class="ms-auto d-flex">
      <div class="d-flex me-3">
        {% if page.next %}
        <a href="{{ page.next.url }}" class="h1">
          <span>«</span>
        </a>
        {% endif %}
      </div>
      <div class="d-flex">
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="h1">
          <span>»</span>
        </a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="byline mb-2">
  <time pubdate datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ page.date | date: "%B %e, %Y" }}
  </time>
  <span class="mx-1">·</span>
  {% for tag in page.tags %}
  <a href="/posts/tagged/{{ tag }}" class="tag">#{{ tag }}</a>
  {% endfor %}
</div>

<!-- {% if page.next or page.previous %}
<div class="d-flex w-100 adjacent-pages my-1">
  <div class="d-flex w-50">
    {% if page.next %}
    <a href="{{ page.next.url }}">
      <span>«</span>
    </a>
    {% endif %}
  </div>
  <div class="d-flex ml-auto text-right w-50 justify-content-end align-items-center">
    {% if page.previous %}
    <a href="{{ page.previous.url }}">
      <span>»</span>
    </a>
    {% endif %}
  </div>
</div>
{% endif %} -->

{% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
